.cooperation{
	position: relative;
	background: url(../images/body/bg-white.png) repeat;
	&-btn{
		.btn{
			margin: 5px 30px 5px 0;
		}
	}
}

@media (max-width: 1600px){
	
}
@media (max-width: 1270px){
	
}
@media (max-width: 1000px){
	
}
@media (max-width: 767px){
	
}